<!-- CONTENT HEADING
Add a h1 element if the page has a title -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
        
<!-- MESSAGE
 Add the capacity to display a message in the future -->
<%- messages() %>
    
<% if (errors) { %>
    <ul class="notice">
<% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<% }) %>    
    </ul>
<% } %>
        
<!-- ACCOUNT VIEW -->
<div id="account-view">
<h2>Welcome <%- locals.accountData.account_firstname || 'User' %> <span id="type-of-account">(<%- locals.accountData.account_type || 'Client' %>)</span></h2>
<p>You're logged in.</p>

<!-- Link to edit the account information -->
<a title="Edit the account information" href="/account/update-account/<%= locals.accountData.account_id %>">Edit Account Information</a>

<!-- Check account type and show administrative links -->
<% if (locals.accountData.account_type === 'Admin' || locals.accountData.account_type === 'Employee') { %>
    <h3>Inventory Management</h3>
    <a title="Open the inventory management" href="/inv/">Manage Inventory</a>
  <% } %>
</div>